body, h1, p, table, td {
    margin: 0;
    padding: 0;
}

body {
    background-color: #87bfd4;
    font-family: Arial, Helvetica, sans-serif;
    color: #0b0721;
}

#title {
    color: #ffffff;
    background-color: #0a5991;
    padding: 10px;
}

#description, #instructions {
    margin-bottom: 30px;
}

form {
    max-width: 750px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 50px;
    padding: 10px;
}

input[type="email"] {
    width: 200px;
    padding: 10px;
}

input[name="gender"] {
    margin-bottom: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

td {
    padding: 8px;
    border: 2px solid #2d3a58;
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgba(106, 139, 171, 0.629);
}

button {
    margin-top: 20px; 
    padding: 15px;
    background-color: #085582;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #99d6ec;
    color: #000000;
}